<div class="page">
  <div class="header">
    <div class="logo ui-grid-col-11">
      NG SUGAR
    </div>

  </div>
  <div class="left-menu">
    <ul class="menu-box">
      <li>
        <a routerLink="/btn" routerLinkActive="active">按钮</a>
      </li>
      <li>
        <a routerLink="/dialog" routerLinkActive="active">对话框</a>
      </li>

    </ul>
  </div>
  <div class="main">
    <div class="content">
      <div class="panel">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>
