<h4>普通按钮 btn btn-[color]</h4>
<button class="btn btn-default">按钮</button>
<button class="btn btn-primary">按钮</button>
<button class="btn btn-success">按钮</button>
<button class="btn btn-info">按钮</button>
<button class="btn btn-warning">按钮</button>
<button class="btn btn-danger">按钮</button>

<h4>线条按钮 fill-btn btn-[color]</h4>
<button class="fill-btn btn-default">按钮</button>
<button class="fill-btn btn-primary">按钮</button>
<button class="fill-btn btn-success">按钮</button>
<button class="fill-btn btn-info">按钮</button>
<button class="fill-btn btn-warning">按钮</button>
<button class="fill-btn btn-danger">按钮</button>

<h4>普通小按钮 btn btn-[color] btn-sm</h4>
<button class="btn btn-sm btn-default">小按钮</button>
<button class="btn btn-sm btn-primary">小按钮</button>
<button class="btn btn-sm btn-success">小按钮</button>
<button class="btn btn-sm btn-info">小按钮</button>
<button class="btn btn-sm btn-warning">小按钮</button>
<button class="btn btn-sm btn-danger">小按钮</button>
<h4>线条小按钮 fill-btn btn-[color] btn-sm</h4>
<button class="fill-btn  btn-sm btn-default">小按钮</button>
<button class="fill-btn  btn-sm btn-primary">小按钮</button>
<button class="fill-btn  btn-sm btn-success">小按钮</button>
<button class="fill-btn  btn-sm btn-info">小按钮</button>
<button class="fill-btn  btn-sm btn-warning">小按钮</button>
<button class="fill-btn  btn-sm btn-danger">小按钮</button>

<h4>普通超超小按钮 btn btn-[color] btn-xs</h4>
<button class="btn btn-xs btn-default">超小按钮</button>
<button class="btn btn-xs btn-primary">超小按钮</button>
<button class="btn btn-xs btn-success">超小按钮</button>
<button class="btn btn-xs btn-info">超小按钮</button>
<button class="btn btn-xs btn-warning">超小按钮</button>
<button class="btn btn-xs btn-danger">超小按钮</button>
<h4>线条超超小按钮 fill-btn btn-[color] btn-xs</h4>
<button class="fill-btn  btn-xs btn-default">超小按钮</button>
<button class="fill-btn  btn-xs btn-primary">超小按钮</button>
<button class="fill-btn  btn-xs btn-success">超小按钮</button>
<button class="fill-btn  btn-xs btn-info">超小按钮</button>
<button class="fill-btn  btn-xs btn-warning">超小按钮</button>
<button class="fill-btn  btn-xs btn-danger">超小按钮</button>

<h4>普通大按钮 btn btn-[color] btn-lg</h4>
<button class="btn btn-lg btn-default">大按钮</button>
<button class="btn btn-lg btn-primary">大按钮</button>
<button class="btn btn-lg btn-success">大按钮</button>
<button class="btn btn-lg btn-info">大按钮</button>
<button class="btn btn-lg btn-warning">大按钮</button>
<button class="btn btn-lg btn-danger">大按钮</button>
<h4>线条大按钮 fill-btn btn-[color] btn-lg</h4>
<button class="fill-btn  btn-lg btn-default">大按钮</button>
<button class="fill-btn  btn-lg btn-primary">大按钮</button>
<button class="fill-btn  btn-lg btn-success">大按钮</button>
<button class="fill-btn  btn-lg btn-info">大按钮</button>
<button class="fill-btn  btn-lg btn-warning">大按钮</button>
<button class="fill-btn  btn-lg btn-danger">大按钮</button>
