.chkbox {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    margin-left: .5em;
}

.chkbox .chkbox-box {
    width: 1em;
    height: 1em;
    line-height: 1em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    color: $brand-primary;
    border: 1px solid $brand-primary;

}

.chkbox .chkbox-icon {
    display: block;
}

.chkbox-label {
    vertical-align: middle;
}

