<div #calendar class="select" [class.disabled]="disabled" [ngClass]="inputClass"
     (click)="$event.stopPropagation(); showPanel()">
  <input type="text" (blur)="onInputBlur($event)" [value]="labelValue" (input)="onInputInput($event)"
         [placeholder]="placeholder" (focus)="onInputFocus()" [disabled]="disabled">
  <div class="right-icon" (click)="onClickIcon($event)" [@iconState]="panelShowing?'on':'off'">
    <span class="icon-angle-up"></span>
  </div>
  <ng-template [overlay]="panelShowing" (onOverlayClick)="closePanel()">
    <div #selectPanel class="select-panel" [style.width]="panelWidth" [style.maxHeight]="maxHeight" *ngIf="panelShowing"
         [@panelInout]="'in'">
      <ng-template #defaultItem let-opt>
        <div>{{opt.label}}</div>
      </ng-template>
      <div *ngFor="let opt of matchedList;index as i;first as f;last as l;" (click)="selectOne(opt,$event)"
           class="select-item">
        <ng-container
          *ngTemplateOutlet="itemTemplate||defaultItem;context {$implicit:opt,index:i,last:l,first:f}"></ng-container>
      </div>
    </div>
  </ng-template>
</div>
